<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="/"><img alt="Instang logo"class="logo__image" src="../../assets/img/coollogo_com-278862762.png"></a>
        </div>
        <div class="search">
            <input id="search__input" type="text" placeholder="Search">
        </div>
        <ul class="options" *ngIf="isLoggedIn()">
            <li (click)="uploadModal = !uploadModal"><i class="material-icons">file_upload</i></li>
            <li routerLink="/profile/{{loggedUserName}}"><i class="material-icons">perm_identity</i></li>
            <li (click)="logout()"><i class="material-icons">exit_to_app</i></li>
        </ul>
        <ul class="options" *ngIf="!isLoggedIn()">
            <li routerLink="/login">Sign in</li>
        </ul>
    </div>
</nav>

<div *ngIf="uploadModal" class="myModal">
    <div class="modal__body">
        <button (click)="uploadModal = !uploadModal" class="cancelModal"><i class="material-icons">clear</i></button>
        <p>Pick image to be uploaded. (Accepted formats *.jpg, *.jpeg, *.png, *.gif)</p>
        <input type="text" [(ngModel)]="newPhoto.description" name="photoDescription" id="photoDescription" placeholder="Image description...">
        <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input (change)="onFileChange($event)" type="file" name="uploadFile" id="uploadFile" placeholder="Upload image...">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>

        <p style="text-align: left;margin-bottom: 0;">
            <label>
                <input type="checkbox" [(ngModel)]="setAsAvatar" name="setAsAvatar" id="setAsAvatar">
                <span>Set as avatar</span>
            </label>
          </p>
        <button (click)="onFileSend()" class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
                
    </div>
</div>