<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="/"><img alt="Instang logo"class="logo__image" src="../../assets/img/coollogo_com-278862762.png"></a>
        </div>
        <div class="search">
            <input id="search__input" type="text" placeholder="Search">
        </div>
        <div class="options">
            <a href="#"><i class="material-icons">file_upload</i></a>
            <a routerLink="/profile"><i class="material-icons">perm_identity</i></a>
            <a href="#"><i class="material-icons">exit_to_app</i></a>
        </div>
    </div>
</nav>