<main>
    <div class="container">
        <div class="user">
            <div class="user__container">
                   <img src="../../assets/img/einstein.jpg" alt="User avatar">
            <div class="user__info">
                <span class="nickname">{{loggedUser.userName}}</span>
                <span class="name-surname">{{loggedUser.firstName}} {{loggedUser.lastName}}</span>
            </div>
            </div>
        </div>
        <div class="feed">
            <div *ngFor="let photo of photos" class="feed__item">
                <header>
                    <a [routerLink]="['./profile/', photo.userName]">{{photo.userName}}</a>
                </header>
                <main>
                    <img src="http://localhost:8080/images/{{photo.imageName}}" alt="image">
                </main>
                <footer>
                    <div class="reactions">
                        <i [style.color]="checkLike(photo) == true ? 'black' : 'red'" (click)="like()" class="material-icons like">{{checkLike(photo) == true ? "favorite_border" : "favorite"}}</i>
                        <i class="material-icons">chat_bubble_outline</i>
                    </div>
                    <div class="likes">
                        Likes: {{photo.likes}}
                    </div>
                    <div class="description">
                        <p><a href="#">Autor posta</a>{{photo.description}}</p>
                    </div>
                    <div class="comments">
                        <div *ngFor="let comment of photo.comments" class="comment">
                            <p><a href="#">Autor komentarza</a>{{comment.content}}</p>
                        </div>
                    </div>
                    <div class="add__comment">
                        <input type="text" name="comment" id="addComment" placeholder="Comment...">
                    </div>
                </footer>
            </div>

        </div>
    </div>
</main>