<main>
    <div class="container">
        <div class="user">
            <div class="user__container">
                <img *ngIf="profilePicture != null" src="http://localhost:8080/images/{{profilePicture}}" alt="Profile picture">
                <img *ngIf="profilePicture == null" src="../../assets/img/einstein.jpg" alt="Profile picture">
            <div class="user__info">
                <a [routerLink]="['./profile/', loggedUser.userName]" class="nickname">{{loggedUser.userName}}</a>
                <span class="name-surname">{{loggedUser.firstName}} {{loggedUser.lastName}}</span>
            </div>
            </div>
        </div>
        <div class="feed">
            <div *ngFor="let photo of photos; let i = index" class="feed__item">
                <header>
                    <a [routerLink]="['./profile/', photo.userName]">{{photo.userName}}</a>
                </header>
                <main>
                    <img src="http://localhost:8080/images/{{photo.imageName}}" alt="image">
                </main>
                <footer>
                    <div class="reactions">
                        <i [style.color]="checkLike(photo) == false ? 'black' : 'red'" (click)="likeDisplay(photo, i)" class="material-icons like">{{checkLike(photo) == false ? "favorite_border" : "favorite"}}</i>
                        <i class="material-icons">chat_bubble_outline</i>
                    </div>
                    <div class="likes">
                        <span>Likes: {{photo.likes.length}}</span>
                    </div>
                    <div class="description">
                        <p><a routerLink="./profile/{{photo.userName}}">{{photo.userName}}</a>{{photo.description}}</p>
                    </div>
                    <div class="comments">
                        <div *ngFor="let comment of photo.commentList" class="comment">
                            <p><a routerLink="./profile/{{comment.userName}}">{{comment.userName}}</a>{{comment.content}}</p>
                        </div>
                    </div>
                    <div class="add__comment">
                        <input (keyup.enter)="onComment(photo, i)" [(ngModel)]="commentsContent[i]" class="commentInput" type="text" name="commentInput" id="commentInput" placeholder="Comment...">
                    </div>
                </footer>
            </div>

        </div>
    </div>
</main>