<main>
    <div class="container">
        <header>
            <div class="wrapper">
                <div class="wrapper__second">
              <img class="profile__picture" src="../../assets/img/einstein.jpg" alt="Profile picture">
              </div>
            </div>
              <div class="profile__info">
                <h5>{{this.user.userName}}</h5>
                <ul>
                    <li>Posts: {{this.user.photoList.length}}</li>
                    <li (click)="this.followersModal =! this.followersModal">{{this.user.followers.length}} Followers</li>
                    <li (click)="this.followedModal =! this.followedModal">Followed: {{this.user.followed.length}}</li>
                    <button (click)="onFollow()">{{followed == "followed" ? "Unfollow" : "Follow"}}</button>
                </ul>
                <div class="description">
                    desca sa doasd kadokz ckzxo coasjd oasd opa jcj.dsa dasd ads ado asd koask cz z xadsasd.
                </div>
            </div>
        </header>


        <div class="gallery">
            <div class="row">
                <div *ngFor="let photo of photos" (click)="onSelect(photo)" class="col s4 gallery__picture"><img src="http://localhost:8080/images/{{photo.imageName}}" alt="Picture"></div>
            </div>
        </div>
          

<div *ngIf="detailsModal" class="myModal">
    <div class="modal__body">
        <img src="http://localhost:8080/images/{{selectedPhoto.imageName}}" alt="Picture">
        <button (click)="this.detailsModal = !this.detailsModal" class="cancelModal"><i class="material-icons">clear</i></button>
        <div class="rightPanel">
            <div class="user">
                <div class="user__container">
                       <img src="../../assets/img/einstein.jpg" alt="User avatar">
                <div class="info">
                    <span class="nickname">{{this.user.userName}}</span>
                </div>
                </div>
            </div>
            <hr>
            <section class="comments">
                <div class="user">
                    <div class="user__container">
                           <img src="../../assets/img/einstein.jpg" alt="User avatar">
                    <div class="info">
                        <a [routerLink]="['../', this.user.userName]" class="nickname">{{this.user.userName}}</a>
                        <p>{{selectedPhoto.description}}</p>
                    </div>
                    </div>
                </div>
                <div *ngFor="let comment of this.selectedPhoto.commentList" class="user">
                    <div class="user__container">
                           <img src="../../assets/img/einstein.jpg" alt="User avatar">
                    <div class="info">
                        <a [routerLink]="['../', comment.userName]" class="nickname">{{comment.userName}}</a>
                        <p>{{comment.content}}</p>
                    </div>
                    </div>
                </div>
            </section>
            <section class="react">
                <div class="reactions">
                    <i [style.color]="this.liked == true ? 'red' : 'black'" (click)="likeDisplay()" class="material-icons like">{{this.liked == true ? "favorite" : "favorite_border"}}</i>
                    <i class="material-icons">chat_bubble_outline</i>
                </div>
                <div class="likes">
                    <p>Likes: {{selectedPhoto.likes.length}}</p>
                </div>
                <input (keyup.enter)="onComment()" [(ngModel)]="newComment.content" class="commentInput" type="text" name="commentInput" id="commentInput" placeholder="Comment...">
            </section>
        </div>
    </div>
</div>


<div *ngIf="followersModal" class="myModal">
    <div class="modal__body modal__follow">
        <button (click)="this.followersModal =! this.followersModal" class="cancelModal"><i class="material-icons">clear</i></button>
        <div class="follow__container">
            <h5>Followers</h5>
            <ul>
                <li *ngFor="let follower of this.user.followers"><a routerLink="../{{follower.userName}}">{{follower.userName}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="followedModal" class="myModal">
    <div class="modal__body modal__follow">
        <button (click)="this.followedModal =! this.followedModal" class="cancelModal"><i class="material-icons">clear</i></button>
        <div class="follow__container">
            <h5>Followed</h5>
            <ul>
                <li *ngFor="let followed of this.user.followed"><a routerLink="../{{followed.userName}}">{{followed.userName}}</a></li>
            </ul>
        </div>
    </div>
</div>


    </div>
</main>