<main>
    <div class="container">
        <header>
            <div class="wrapper">
                <div class="wrapper__second">
              <img class="profile__picture" src="../../assets/img/einstein.jpg" alt="Profile picture">
              </div>
            </div>
              <div class="profile__info">
                <h5>Username</h5>
                <ul>
                    <li>Posts: 11</li>
                    <li>12 Followers</li>
                    <li>Followed: 22</li>
                </ul>
                <div class="description">
                    desca sa doasd kadokz ckzxo coasjd oasd opa jcj.dsa dasd ads ado asd koask cz z xadsasd.
                </div>
            </div>
        </header>


        <div class="gallery">
            <div class="row">
                <div (click)="detailsModal = !detailsModal" class="col s4 gallery__picture"><img src="../../assets/img/einstein.jpg" alt="Picture"></div>
                <div class="col s4 gallery__picture"><img src="../../assets/img/tesla.jpg" alt="Picture"></div>
                <div class="col s4 gallery__picture"><img src="../../assets/img/audi.jpeg" alt="Picture"></div>
            </div>
            <div class="row">
                <div class="col s4 gallery__picture"><img src="../../assets/img/einstein.jpg" alt="Picture"></div>
                <div class="col s4 gallery__picture"><img src="../../assets/img/tesla.jpg" alt="Picture"></div>
                <div class="col s4 gallery__picture"><img src="../../assets/img/audi.jpeg" alt="Picture"></div>
            </div>
        </div>
          

<div *ngIf="detailsModal" class="myModal">
    <div class="modal__body">
        <img src="../../assets/img/einstein.jpg" alt="Picture">
        <button (click)="detailsModal = !detailsModal" class="cancelModal"><i class="material-icons">clear</i></button>
        <div class="info">
            <div class="user">
                <div class="user__container">
                       <img src="../../assets/img/einstein.jpg" alt="User avatar">
                <div class="info">
                    <span class="nickname">nickname</span>
                </div>
                </div>
            </div>
            <hr>
            <div class="description">
                <div class="user">
                    <div class="user__container">
                           <img src="../../assets/img/einstein.jpg" alt="User avatar">
                    <div class="info">
                        <span class="nickname">nickname</span>
                        <p>sadadso ao dkaso dkao kdaodaosdk as da  asd as das </p>
                    </div>
                    </div>
                </div>

                
                <div class="user">
                    <div class="user__container">
                           <img src="../../assets/img/audi.jpeg" alt="User avatar">
                    <div class="info">
                        <span class="nickname">nickname</span>
                        <p>asdas sado kaso dzxkco zjodka jzoxc zjcoadi jaoc jzxoc jzocnhzisjdkfcncxozi nhciozcxncj hzbxic bsIzjczihckizhjisoc  </p>
                    </div>
                    </div>
                </div>

                <div class="user">
                    <div class="user__container">
                           <img src="../../assets/img/audi.jpeg" alt="User avatar">
                    <div class="info">
                        <span class="nickname">nickname</span>
                        <p>asdas sado kaso dzxkco zjodka jzoxc zjcoadi jaoc jzxoc jzocnhzisjdkfcncxozi nhciozcxncj hzbxic bsIzjczihckizhjisoc  </p>
                    </div>
                    </div>
                </div>

                <div class="user">
                    <div class="user__container">
                           <img src="../../assets/img/audi.jpeg" alt="User avatar">
                    <div class="info">
                        <span class="nickname">nickname</span>
                        <p>asdas sado kaso dzxkco zjodka jzoxc zjcoadi jaoc jzxoc jzocnhzisjdkfcncxozi nhciozcxncj hzbxic bsIzjczihckizhjisoc  </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    </div>
</main>